numpy
pandas
scikit-learn
scipy
seaborn
matplotlib
altair
shap
xgboost
bayesian-optimization
hyperopt
Pillow
glmnet
slickml
plotly
graphviz
keras
tensorflow
streamlit-drawable-canvas
streamlit==1.13.0
streamlit-aggrid==0.3.3
pip==21.2.4
pkginfo==1.8.2
plotly==5.6.0
